* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.layout {
    /* margin: 10px; */
    border: 2px solid cadetblue;
    width: 700px;
}

.p1{
    border: 2px solid cadetblue;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    color: blueviolet;
    background-color: antiquewhite;
}

.p1:hover {
    border-radius: 10px;
    background-color: blanchedalmond;
    color: brown;
}
.p2{
    border: 2px solid cadetblue;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    color: blueviolet;
    background-color: antiquewhite;
    border: 3px solid cadetblue;
    border-radius: 10px;
}

.p2:hover {
    border-radius: 0px;
    background-color: blanchedalmond;
    color: rgb(145, 73, 73);
    text-decoration: underline;
    font-size: 15px;
    text-transform: uppercase;
}
.p3{
    border: 2px solid cadetblue;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    color: blueviolet;
    background-color: antiquewhite;
}

.p3:hover {
    border-radius: 10px;
    background-color: blanchedalmond;
    color: brown;
    background-image: url('pexels.jpg');
    border-top-left-radius: 25PX;
    border-bottom-right-radius: 25px;
    text-align: right;
}
.p4{
    border: 2px solid cadetblue;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    color: blueviolet;
    background-color: antiquewhite;
}

.p4:hover {
    /* border-radius: 10px; */
    background-color: cadetblue;
    color: brown;
    border-top-right-radius: 25px;
    border-bottom-left-radius:25px ;
    font-style: italic;
}
.p5{
    border: 2px solid cadetblue;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    color: blueviolet;
    background-color: antiquewhite;
}

.p5:hover {
    border-radius: 10px;
    background-color: blanchedalmond;
    color: brown;
    border-top-color: crimson;
    border-right-color: black;
    border-bottom-color: blue;
    border-left-color: darkgreen;
    text-shadow: 5px 5px 5px black;
    box-shadow: 3px 3px 5px blue;
    font-variant: small-caps;
    font-weight: 500;
}
