/* a:link{
    color: yellow;
}

a:active{
    color: rgb(61, 255, 255);
}

a:visited{
    color: palevioletred;
}

a:hover{
    color: red;
} */

/* .main h1:first-child{
    color: red;
} */

/* .main h1:first-of-type{
    color: red;
} */

/* .main p:last-child{
    color: red;
} */

/* .main p:last-of-type{
    color: red;
} */

/* .main h1:nth-child(2){
    color: red;
} */

/* .main h1:nth-of-type(2){
    color: red;
} */

/* .main h1:nth-last-child(2){
    color: red;
} */

/* .main h1:nth-last-of-type(2){
    color: red;
} */

/* .main h1:only-child{
    color: red;
} */

/* .main h1:only-of-type{
    color: red;
} */

/* .main :not(:first-child){
    color: red;
} */

/* .main p:empty{
    height: 200px;
    width: 200px;
    background-color: red;
} */

/* input:enabled{
    background-color: green;
}

input:disabled{
    background-color: red;
} */

/* input:focus{
    background-color: yellow;
} */

/* input:read-only{
    background-color: red;
}

input:read-write{
    background-color: green;
} */

/* input:required{
    background-color: red;
}

input:optional{
    background-color: green;
} */

/* input:in-range{
    background-color: green;
}

input:out-of-range{
    background-color: red;
} */

/* input:valid{
    background-color: green;
}
    
input:invalid{
    background-color: red;
} */

/* p::first-letter{
    font-size: 40px;
} */

/* p::first-line{
    font-size: 30px;
} */

/* p::selection{
    background-color: yellow;
    color: red;
} */

/* input::placeholder{
    background-color: gray;\
} */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    font-size: 40px;
    background-color: orangered;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.box::before {
    content: "";
    height: 200px;
    width: 10px;
    background-color: #fff;
    position: absolute;
    top: -100px;
    left: -24px;
    transform: rotate(215deg);
    transition: 5s;
}

.box:hover::before {
    top: -32px;
    left: 131px;
}