/* Direct Child */
/* .main h1{
    color: red;
} */
 
/* Decending child*/
/* .main > h1{
    color: greenyellow;
} */

/* General Sibling */
/* .main ~ h1 {
    color: blue;
} */

/* Adjacant Sibling */
/* .main + h1 {
    color: sienna;
} */