@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    /* background-color: #12100C; */
}

.main {
    /* margin: 0 15px; */
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #12100C;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.logo > img{
    width: 200px;
}
.mainMenu {
    display: flex;
}

.mainMenu>li {
    padding: 20px 10px;
    position: relative;
    display: flex;
    /* align-items: center; */
}

.mainMenu>li>a {
    font-size: 12px;
    letter-spacing: .05em;
    font-weight: 700;
    /* position: relative; */
    /* padding: 0; */
    text-transform: uppercase;
    transition: .5s;
    /* display: flex; */
    /* align-items: center; */
}
/* .mainMenu > li > a > i{
    font-size: 10px;
} */

.mainMenu>li:hover>a {
    color: #B99272;
}

.subMenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #FFFFFF;
    padding: 20px 0;
    width: 235px;
    visibility: hidden;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: .5s;
}

.mainMenu>li:hover>.subMenu {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
}

.subMenu>li {
    padding: 0 20px;
    list-style: none;
}

.subMenu>li>a {
    display: block;
    color: #666;
    font-size: 14px;
    padding: 14px 0;
    border-bottom: 1px solid #eaeaea;
    letter-spacing: 1px;
}

.petaMenu {
    position: absolute;
    top: 55%;
    left: 100%;
    background-color: #FFFFFF;
    padding: 20px 0;
    width: 235px;
    visibility: hidden;
    opacity: 0;
}

.petaMenu>li {
    padding: 0 20px;
    position: relative;
}

.petaMenu>li>a {
    display: block;
    color: #666;
    font-size: 14px;
    padding: 14px 0;
    border-bottom: 1px solid #eaeaea;
    letter-spacing: 1px;
}

.subMenu>li:hover>.petaMenu {
    visibility: visible;
    opacity: 1;
}

/* .logo > img {
    margin: 0 15px;
    width: 201px;
    height: 52px;
    color: #fff;
} */

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
}

.mainMenu>li>a>i {
    /* font-size: 10px; */
    /* padding: 3px; */
}

.search {
    color: #fff;
    padding: 30px;
}

.third {
    display: flex;
    align-items: center;
}

.third>.cart {
    color: #fff;
}

.resbtn {
    margin-left: 70px;
    background-color: #C7A17A;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    padding: 0 30px;
    line-height: 51px;
    border-radius: 5px;
    text-transform: uppercase;
}

.resbtn:hover {
    background-color: #fff;
    color: #000;
    transition: 0.5s;
}

.slider>img {
    height: 100%;
    width: 100%;
}
