@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    /* margin: 0;
    padding: 0; */
}


/* a[href="https://www.flipkart.com"]{
    color: yellow;
} */

p {
    /* ----------------- font---------------- */
    /* font-size: xx-small; */
    /* font-size: 30px; */

    /* font-family:  Arial, Helvetica, sans-serif; */
    /* font-family: "Roboto", sans-serif; */

    /* font-weight: bold; */
    /* font-weight: 400; */

    /* font-style: italic; */
    /* font-style: oblique; */

    /* font-variant: normal; */
    /* font-variant: small-caps; */

    /* -------------------text----------------- */

    /* text-align: center;
   text-align: left;
   text-align: right; */

    /* text-decoration: underline;
   text-decoration: overline; */
    /* text-decoration: line-through; */
    /* text-decoration: underline overline; */

    /* text-transform: uppercase; */
    /* text-transform: lowercase; */
    /* text-transform: capitalize; */

    /* text-wrap: nowrap; */

}

.box {

    /* display: inline; */

    /* height: 100px;
    width: 100px;

    display: inline-block;

    border-style: solid; */
    /* border-style: dashed; */
    /* border-style: dotted; */
    /* border-style: double; */
    /* border-style: groove; */
    /* border-style: inset; */
    /* border-style: outset; */
    /* border-style: none; */

    /* border-left-style: dotted; */

    /* border-width: 3px; */

    /* border-top-width: 2px; */

    /* border-color: red;

    border-left-color: yellow;
    border-right-color: blue;
    border-bottom-color: rgb(30, 255, 0);

    border-radius: 2px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px; */

    /* border-radius: 50%; */

    /* border-style: double;
    border-color: magenta;
    border-width: 4px; */

    /* border: 5px solid red; */
}

p {
    /* display: inline; */
}

.box1 {
    display: inline;
    border: 2px solid orangered;
    background-color: orangered;
    color: #fff;
}