* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #263038;
}

#main .section:nth-child(2n+1) {
    background: rgba(0, 0, 0, .1)
}

#main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

#main .section {
    min-width: 200px;
    width: 33.33%;
    height: 360px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(204, 204, 204);
    cursor: pointer;
    padding: 10px;
    transition: 0.2s linear;
}

#loader1>.box {
    margin: 30px;
    height: 50px;
    width: 50px;
    border: 5px dotted;
    border-radius: 50%;
    border-top-color: brown;
    border-bottom-color: blue;
    border-left-color: chartreuse;
    border-right-color: aqua;
    animation: loader1 10s infinite linear;
}

@keyframes loader1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#loader2>.box {
    height: 50px;
    width: 50px;
    border: 5px solid white;
    border-radius: 50%;
    border-top-color: transparent;
    animation: loader2 1s infinite linear;
}


@keyframes loader2 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#loader3>.box {
    height: 50px;
    width: 50px;
    border: 5px solid white;
    animation: loader3 2s infinite linear;
}


@keyframes loader3 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#loader4>.box {
    height: 50px;
    width: 50px;
    border: 5px solid white;
    border-radius: 50%;
    border-top-color: transparent;
    position: relative;
    animation: loader4box 5s infinite linear;
}

#loader4>.box>.innerBox {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0;
    left: 0;
    border: 5px solid rgb(155, 27, 27);
    border-radius: 50%;
    border-bottom-color: transparent;
    animation: loader4innerbox 5s infinite linear;
}

@keyframes loader4box {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes loader4innerbox {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#loader5>.box{
    height: 60px;
    width: 60px;
    border: 5px solid rgb(155, 27, 27);
    border-radius: 50%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: relative;
    animation: loader5 1s infinite linear;
}

#loader5>.box>.innerBox{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 5px solid white;
}

@keyframes loader5 {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#loader6>.box{
    height: 50px;
    width: 50px;
    border: 5px solid white;
    border-radius: 50%;
    position: relative;
}

#loader6>.box>.innerBox{
    height: 40px;
    width: 40px;
    border: 5px solid rgb(155, 27, 27);
    border-radius: 50%;
    border-top-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader6 1s infinite linear;
}

@keyframes loader6 {
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}

#loader7>.box{
    height: 50px;
    width: 50px;
    border: 5px solid white;
    border-radius: 50%;
    position: relative;
}

#loader7>.box>.innerBox{
    height: 40px;
    width: 40px;
    border: 5px solid rgb(155, 27, 27);
    border-radius: 50%;
    border-top-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

.loader7>.box::after,
.loader7>.box::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #FF3D00;
  width: 6px;
  height: 6px;
  transform: translate(150%, 150%);
  border-radius: 50%;
}
.loader7>.box::before {
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  transform: translate(-150%, -150%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 